div.header
			div.header_logo
				img.__logo-1(src="Group.svg", alt="Toxic_logotip")
				img.__logo-2(src="Toxin.svg", alt="")
			div.header_menu 
				ul
					li
						a(href="#") О нас
					li
						a(href="#") Услуги
					li
						a(href="#") Вакансии
					li
						a(href="#") Новости
					li
						a(href="#") Соглашения
					div.header_button
					<a class="button_auth" href="">Войти</a>
					<a class="button_reg" href="">Регистрация</a>